.punkList {
    display: flex;
    cursor: pointer;
    overflow:scroll;
    margin-top:60px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;

}

.punkList::-webkit-scrollbar {
    display: none;
}